<button type="button" mat-raised-button color="primary" (click)="openForm(null,true)" style="margin: 10px;">
    <mat-icon>add</mat-icon>
    CCM
  </button>
  <button type="button" mat-raised-button color="primary" (click)="openForm({'formName':'MAWV'},true)" style="margin: 10px;">
    <mat-icon>add</mat-icon>
    MAWV
  </button>
<table mat-table [dataSource]="detailDataSource" *ngIf="detailDataSource.data.length > 0" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="edit">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
       <td mat-cell *matCellDef="let element">
           <div style="cursor: pointer;" (click)="openForm(element,false)">
               <mat-icon>edit</mat-icon>
           </div>
       </td>
       
   </ng-container>
     <!-- Content Column -->
     <ng-container matColumnDef="formId">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Id </th>
         <td mat-cell *matCellDef="let element"> {{element.formId}} </td>
     </ng-container>
     <ng-container matColumnDef="formName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
        <td mat-cell *matCellDef="let element"> {{element.formName}} </td>
    </ng-container>
     
   
     <!-- Sent/Recieved Column -->
     <ng-container matColumnDef="createdDateTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date Time</th>
         <td mat-cell *matCellDef="let element"> {{element.createdDateTime | date: 'MM/dd/yyyy HH:MM:ss' :'+0000'}} </td>
     </ng-container>
   
     <!-- SMS Type Column -->
     <ng-container matColumnDef="updatedDateTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Update Date Time </th>
         <td mat-cell *matCellDef="let element">  {{element.updatedDateTime | date: 'MM/dd/yyyy HH:MM:ss' :'+0000'}} </td>
     </ng-container>
     <ng-template [ngIf]="detailDataSource.data.length === 0">
        <tr mat-footer-row *matFooterRowDef="['noRecord']">
        </tr>
    </ng-template>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   