:host,
#participant-list {
  width: 100% !important;
  height: 100% !important;
}

#participant-list {
  border: solid 6px rgb(34, 34, 34);
  background-color: rgb(38, 38, 38);
}

#alone {
  height: 80%;
}

#alone.table {
  display: table;
}

div > p {
  vertical-align: middle;
  display: table-cell;
  padding: 0 10%;
}

.leave-room {
    /* background-color: rgba(0, 15, 47, 0.5); */
    background-color:red;
}

.navbar.shadow {
  border-bottom: solid 3px rgb(34, 34, 34) !important;
}

button {
  bottom: 12px;
  border-radius: 4px;
  position: absolute;
  padding: 4px 12px;
  font-size: smaller;
  color: white;
}
