

<mat-table [dataSource]="detailDataSource" matSort matSortActive="createdDateTime" matSortDirection="desc"
matSortDisableClear>

<ng-container matColumnDef="clinicName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Clinic</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.clinicName}}
    </mat-cell>
</ng-container>
<ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.firstName}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.lastName}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="dob">
    <mat-header-cell *matHeaderCellDef mat-sort-header>DOB
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{moment( row.dob).format('MMM DD YYYY' )}}
    </mat-cell>
</ng-container>

   
<ng-container matColumnDef="createdDateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Created
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{moment( row.createdDateTime).format('MMM DD YYYY' )}}
    </mat-cell>
</ng-container>


<ng-container matColumnDef="report">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Report
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        <a class="btn btn-primary btn-link btn-sm ml-3 "    (click)="downloadReport(row)" title="File">
            <i class="material-icons">picture_as_pdf </i> </a>
    </mat-cell>
</ng-container>

<ng-container matColumnDef="cptCodes">
    <mat-header-cell *matHeaderCellDef mat-sort-header>CPT Codes </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.cptCodes}}
    </mat-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;">
</mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[ 10, 25, 100]" [length]="detailDataSourceLength"></mat-paginator>

