<button type="button" mat-raised-button color="primary" (click)="openForm({'formName':'CCM'},true)" style="margin: 10px;">
    <mat-icon>add</mat-icon>
    CCM
  </button>
  <button type="button" mat-raised-button color="primary" (click)="openForm({'formName':'MAWV'},true)" style="margin: 10px;">
    <mat-icon>add</mat-icon>
    MAWV
  </button>

  <hr>
  
  <mat-table [dataSource]="detailDataSource" matSort 
  matSortActive="createdDateTime" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Edit
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        <div style="cursor: pointer;" (click)="openForm(row,false)">
            <mat-icon>edit</mat-icon>
        </div>
    </mat-cell>
</ng-container>
<ng-container matColumnDef="formId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Form Id
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row.formId}}
    </mat-cell>
</ng-container>
<ng-container matColumnDef="formName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Form Name
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row.formName}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="createdDateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date Time
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{moment( row.createdDateTime).format('MMM DD YYYY HH:mm' )}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="updatedDateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date Time
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{moment( row.updatedDateTime).format('MMM DD YYYY HH:mm' )}}
    </mat-cell>
</ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;">
</mat-row>
</mat-table>



     
    
   