<!-- <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet"> -->
<div *ngIf="data" class="app-container">
  <div class="app-main">
    <div class="video-call-wrapper">
      <div class="video-participant">
        <header class="site-header">

          <span *ngIf="showSendInvite" class="video-title">{{data.firstName}} {{data.lastName}}</span>
          <span *ngIf="!showSendInvite" class="video-title">{{data.clinicName}}</span>
          <!-- <h5 class="participant-actions video-title">{{data.firstName}} {{data.lastName}}</h5> -->
          <button mat-icon-button  (click)="onNoClick();"  style="float: right">
            <mat-icon class="close-icon"  >close</mat-icon>
          </button>
        </header>
        <app-camera #camera class="appclass" [style.display]="!!activeRoom ? 'none' : 'block'"></app-camera>
        <footer id="colophon" class="site-footer">
          <button style="margin-right: 30px;"*ngIf="activeRoom !callParticipant" mat-fab mat-raised-button color="primary" 
          (click)="toggleMute()">
            <mat-icon *ngIf="!muted">mic</mat-icon>
            <mat-icon *ngIf="muted">mic_off</mat-icon>
          </button>
          <button *ngIf="!activeRoom && !showSendInvite" class="btn b"
            style="background-color:#ffc500;font-size:18px;height:50px"
            class="btn btn-lg btn-outline-secondary twitter-red" type="button" (click)="joinMeeting()">
            JOIN VIDEO CALL NOW
          </button>
          <button style="font-size:18px;height:50px;background-color:green" *ngIf="showSendInvite && !activeRoom" [disabled]="disable"
            class="btn btn-lg btn-outline-secondary twitter-red" type="button" (click)="sendInvite()">
            INVITE PATIENT TO VIDEO CALL
          </button>
          <button *ngIf="activeRoom !callParticipant" type="button"
            class="btn btn-lg btn-outline-secondary twitter-red"
            style="background-color: red;font-size:18px;height:50px" title="Click to leave this room."
            (click)="onLeaveRoom(true)">
            LEAVE VIDEO CALL
          </button>
          <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
        </footer>
        <app-participants #participants (leaveRoom)="onLeaveRoom($event)"
          (participantsChanged)="onParticipantsChanged($event)" [style.display]="!!activeRoom ? 'block' : 'none'"
          [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-participants>
      </div>
    </div>
    <div class="footer-button">
    
    </div>
  </div>
</div>
