<div id="participant-list">
    <div id="alone" [ngClass]="{ 'table': isAlone, 'd-none': !isAlone }">
        <p class="text-center text-monospace h3" style="display: table-cell">
            You're the only one in this meeting. <i class="far fa-frown"></i>
            <br />
            <br />
            Participant start showing up here soon...
        </p>
    </div>
    <!-- <button type="button" class="btn btn-lg leave-room" title="Click to leave this room."
    (click)="onLeaveRoom()">
    Leave Meeting ?
</button> -->
    
        <div #list></div>