<div class="row">
  <div class="col-lg-12">
    <div class="card billing">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <img aria-label="podiatrist" src="assets/YMiaq9zL.jpeg" class="center" height="100px" width="250px" />
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-11">
                  <label>Clinic</label>
                  <mat-form-field class="mat-datepicker">
                    <mat-select required formControlName="ClinicCode" [(value)]="selectedClinicCode">
                      <mat-option *ngFor="let c of clinicModel" [value]="c.code">
                        {{c.name}}
                      </mat-option>
                    </mat-select>
                    
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('ClinicCode') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('ClinicCode').hasError('required') && submitted">
                    Please select clinic
                  </mat-error>

                </div>
                <div class="col-md-1">
                  <mat-spinner *ngIf="loading" matSuffix [diameter]="18" style="float: right; margin-left: 8px">
                  </mat-spinner>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <label *ngIf="selectedClinicCode !== ''">Search Patient</label>
                  <mat-form-field *ngIf="selectedClinicCode !== ''" class="mat-datepicker search">
                    <input type="text" aria-label="Patient" matInput formControlName="autocomplete"
                      [matAutocomplete]="auto" (input)="onInput($event)">
                    <mat-spinner *ngIf="loading$ | async" matSuffix [diameter]="18">
                    </mat-spinner>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let patient of patients | async"
                        [value]="patient.firstName  + ' - ' + patient.lastName"
                        (onSelectionChange)="onSelectPatient(patient)">
                        {{ patient.firstName + ' - ' + patient.lastName }}
                      </mat-option>
                    </mat-autocomplete>

                  </mat-form-field>
                  <mat-hint *ngIf="selectedClinicCode !== ''">Enter at least 2 characters</mat-hint>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>First Name</label>
                  <mat-form-field class="mat-datepicker">
                    <input formControlName="FirstName" matInput required>
                   
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('mismatch') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('FirstName').hasError('required') && submitted">
                    Required
                  </mat-error>
                </div>
                <div class="col-md-6">
                  <label>Last Name</label>
                  <mat-form-field class="mat-datepicker">
                    <input formControlName="LastName" matInput required>
                   
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('mismatch') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('LastName').hasError('required') && submitted">
                    Required
                  </mat-error>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>DOB</label>
                  <mat-form-field floatLabel="never" apperance="fill" class="mat-datepicker"
                    (click)="datepicker2.open()">
                    <input formControlName="DOB" [max]="maxDate" matInput [matDatepicker]="DOB" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
                    <mat-datepicker #DOB disabled="false"></mat-datepicker>
                  </mat-form-field>
                  
                    
                    <mat-error *ngIf="form.hasError('mismatch') && submitted">
                      must matcher
                    </mat-error>
                    <!--here show the error is form.get('passwordConfirm').hasError-->
                    <mat-error *ngIf="form.get('DOB').hasError('required') && submitted">
                      Required
                    </mat-error>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>ICD 10</label>
                  <mat-form-field class="mat-datepicker">
                    <input matInput formControlName="ICD10">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="row">
                <div class="col-md-9" style="float:right">
                  <label>Reimbursement</label>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3" style="margin:16px">
                  <mat-checkbox class="checkbox-margin" formControlName="Rem_CPT93224">CPT 93224
                  </mat-checkbox>
                </div>
                <div class="col-md-6">
                  <label>Service Date</label>
                  <mat-form-field floatLabel="never" apperance="fill" class="mat-datepicker"
                    (click)="datepicker2.open()">

                    <input [disabled]="Rem_CPT93224" type="text" [max]="maxDate"
                      formControlName="Rem_CPT93224_ServiceDt" matInput [matDatepicker]="cpt93224" readonly>
                    <mat-datepicker-toggle matSuffix [for]="cpt93224"></mat-datepicker-toggle>
                    <mat-datepicker #cpt93224></mat-datepicker>
                   
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('Rem_CPT93224_ServiceDt') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('Rem_CPT93224_ServiceDt').hasError('required') && submitted">
                    Required
                  </mat-error>


                  <mat-error *ngIf="form.get('Rem_CPT93224_ServiceDt').hasError('notEquivalent') && submitted">
                    Service Date can not be greater than CPT 93228 or CPT 93229.
                  </mat-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3" style="margin:16px">

                  <mat-checkbox class="checkbox-margin" formControlName="Rem_CPT93228">CPT 93228
                  </mat-checkbox>
                </div>
                <div class="col-md-6">
                  <label>Service Date</label>
                  <mat-form-field floatLabel="never" apperance="fill" class="mat-datepicker"
                    (click)="datepicker2.open()">
                    <input [max]="maxDate" formControlName="Rem_CPT93228_ServiceDt" matInput [matDatepicker]="cpt93228"
                      readonly>
                    <mat-datepicker-toggle matSuffix [for]="cpt93228"></mat-datepicker-toggle>
                    <mat-datepicker #cpt93228></mat-datepicker>
                   
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('Rem_CPT93228_ServiceDt') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('Rem_CPT93228_ServiceDt').hasError('required') && submitted">
                    Required
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3" style="margin:16px">
                  <mat-checkbox class="checkbox-margin" formControlName="Rem_CPT93229">CPT 93229
                  </mat-checkbox>
                </div>
                <div class="col-md-6">
                  <label>Service Date</label>
                  <mat-form-field floatLabel="never" apperance="fill" class="mat-datepicker"
                    (click)="datepicker2.open()">
                    <input [max]="maxDate" formControlName="Rem_CPT93229_ServiceDt" matInput [matDatepicker]="cpt93229"
                      readonly>
                    <mat-datepicker-toggle matSuffix [for]="cpt93229"></mat-datepicker-toggle>
                    <mat-datepicker #cpt93229></mat-datepicker>
                   
                  </mat-form-field>
                  <mat-error *ngIf="form.hasError('Rem_CPT93229_ServiceDt') && submitted">
                    must matcher
                  </mat-error>
                  <!--here show the error is form.get('passwordConfirm').hasError-->
                  <mat-error *ngIf="form.get('Rem_CPT93229_ServiceDt').hasError('required') && submitted">
                    Required
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9" style="margin-left:16px">
                  <label>Upload Report</label>
                  <mat-form-field class="mat-datepicker">
                    <ngx-mat-file-input name="report" formControlName="report" (change)="onFileSelect($event)"
                      [accept]="'.pdf'" [valuePlaceholder]="Report"></ngx-mat-file-input>
                    <mat-icon matSuffix>file_upload</mat-icon>

                   

                  </mat-form-field>
                  <mat-hint>**Only pdf file allowed upto 2MB.</mat-hint>
                  <mat-error *ngIf="form.hasError('report') && submitted">
                    must matcher
                  </mat-error>
                  <mat-error *ngIf="form.get('report').hasError('required') && submitted">
                    Required
                  </mat-error>
                  <mat-error *ngIf="submitted &&
                  form.get('report')
                      ?.hasError('maxContentSize')
                  ">
                    File size
                    {{
                    form.get("report")
                    ?.getError("maxContentSize")?.maxSize | byteFormat
                    }}
                    exceeded maximum limit. Uploaded file size is
                    {{
                    form.get("report")
                    ?.getError("maxContentSize")?.actualSize | byteFormat
                    }}.
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
          <div class="row offset-5 col-md-7" style="padding-right: 6em;">
            <div style="padding: 0.5em;">
              <button type="submit" class="btn btn-primary "  (click)="onSubmit()">Save</button>
            </div>
            <div style="padding: 0.5em;">
              <button type="submit" class="btn btn-secondary "  (click)="ResetForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>