<div class="row">
    <div class="col-lg-12">
        <div class="card billing">
            <div class="card-body">
                <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
                    <mat-tab label="Reports">
                        <mat-divider class="bottom-margin-2"></mat-divider>
                        <app-ecg-reports></app-ecg-reports>
                    </mat-tab>
                    <mat-tab label="CPT Codes">
                        <mat-divider class="bottom-margin-2"></mat-divider>
                        <app-ecg-cptcodes></app-ecg-cptcodes>
                    </mat-tab>
                    <mat-tab label="CPT Codes Submitted">
                        <mat-divider class="bottom-margin-2"></mat-divider>
                        <app-ecg-submitted></app-ecg-submitted>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>