<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" >close</mat-icon>
  </button>
<div class="card-container" style="display: grid;">
   
    <div style="margin-bottom: 20px;">
      
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{data.firstName}} {{data.lastName}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div style="display: flex;">
                        <span style="font-size: 15px;">Cell Phone :    <strong> {{data.cellPhone}}</strong></span>
                        <button style="margin:5px;" mat-raised-button color="primary" (click)="openMessage(data.cellPhone)">
                            <mat-icon>send</mat-icon>
                            SMS
                        </button>
                        <button style="margin:5px;" mat-raised-button color="primary" (click)="openPhoneCall(data.cellPhone)">
                            <mat-icon>call</mat-icon>
                            Call
                        </button>
                        <button style="margin:5px;" mat-raised-button color="primary" (click)="openVideoCall()">
                            <mat-icon>video_call</mat-icon>
                            Video
                        </button>
                        </div>
                    
                    <div style="display: flex;" *ngIf="data.homePhone">
                        Home Phone :    <strong> {{data.homePhone}}</strong>
                        <button style="margin:5px;" mat-raised-button color="primary" (click)="openMessage(data.homePhone)">
                            <mat-icon>send</mat-icon>
                            SMS
                        </button>
                        <button style="margin:5px;" mat-raised-button color="primary" (click)="openPhoneCall(data.homePhone)">
                            <mat-icon>call</mat-icon>
                            Call
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
       
    </div>
    <mat-tab-group>
        <mat-tab label="Comms">
            <!-- <ngx-skeleton-loader *ngIf="detailDataloading"
    count="1"
    [theme]="{ 
      'border-radius': '5px',
      height: '250px',      
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader> -->
  
            <table style="width: 100%;" mat-table [dataSource]="detailDataSource"  matSort #TableCommsSort="matSort" class="mat-elevation-z8" >

                <!-- Sent/Recieved Column -->
                <ng-container matColumnDef="createdDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element">{{element.createdDateTime | date: 'MM/dd/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="smsType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smsType == "1" ? "SMS Out" : element.smsType == "2" ? "SMS In" : element.smsType ==
                        "3" ? "Voice Call" : "Video Call" }}
                    </td>
                </ng-container>
                 <!-- SMS Status Column -->
                 <ng-container matColumnDef="smsStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smsStatus}}
                    </td>
                </ng-container>
                <!-- Content Column -->
                <ng-container matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Content </th>

                    <td mat-cell *matCellDef="let element" [matTooltip]="element.content">
                        <div *ngIf="element.smsType == 1 || element.smsType == 2 ">{{element.content}} </div>
                        <div *ngIf="element.smsType == 3"> <strong> Called :</strong> {{element.calledTo}} |
                           <strong>{{element.callStartDateTime | date: 'HH:MM:ss' }}</strong> To
                            <strong>{{element.callEndDateTime | date: 'HH:MM:ss' }} </strong>
                            ({{element.callLength}}) 
                            <strong>Remarks :</strong>{{element.remarks}}
                        </div>
                        <div *ngIf="element.smsType == 4">
                            <!-- <strong> Call Initiated :</strong> {{element.videoCallStartDateTime | date: 'HH:MM:ss'}} | <strong>End Call At: </strong>{{element.partipantLeaveDateTime | date: 'HH:MM:ss' }} |<strong> Patient Joined : </strong>{{element.participantJoinDateTime | date:'HH:MM:ss' }}   --></div> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdByName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Createdby </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdByName}}</td>
                </ng-container>

                <!-- SMS Type Column -->
                <ng-container matColumnDef="markread">
                    <th mat-header-cell 
                    *matHeaderCellDef mat-sort-header> Markread </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox class="checkbox-margin">
                                
                        </mat-checkbox>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator
            [length]="detailDataSourceLength"
            #TableCommsPaginator="matPaginator"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30]"
          ></mat-paginator>
           
            
          
        </mat-tab>
        <mat-tab label="Message">

            <table style="width: 100%;" mat-table [dataSource]="messageDataSource" matSort #TableMessageSort="matSort" class="mat-elevation-z8">

                <!-- Sent/Recieved Column -->
                <ng-container matColumnDef="createdDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element">{{element.createdDateTime | date: 'MM/dd/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="smsType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smsType == "1" ? "SMS In" : element.smsType == "2" ? "SMS Out" : element.smsType ==
                        "3" ? "Voice Call" : "Video Call" }}
                    </td>
                </ng-container>
                <!-- SMS Status Column -->
                <ng-container matColumnDef="smsStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smsStatus}}
                    </td>
                </ng-container>
                <!-- Content Column -->
                <ng-container matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Content </th>

                    <td mat-cell *matCellDef="let element" [matTooltip]="element.content">
                        <div *ngIf="element.smsType == 1 || element.smsType == 2 ">{{element.content}} </div>
                        <div *ngIf="element.smsType == 3"> <strong> Called :</strong> {{element.calledTo}} |
                            <strong>{{element.callStartDateTime | date: 'HH:MM:ss' }}</strong> To
                            <strong>{{element.callEndDateTime | date: 'HH:MM:ss' }} </strong>
                            ({{element.callLength}}) </div>
                        <div *ngIf="element.smsType == 4">
                            <strong> Call Initiated :</strong> {{element.videoCallStartDateTime | date: 'HH:MM:ss'}} | <strong>End Call At: </strong>{{element.partipantLeaveDateTime | date: 'HH:MM:ss' }} |<strong> Patient Joined : </strong>{{element.participantJoinDateTime | date:'HH:MM:ss' }}   </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdByName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Createdby </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdByName}}</td>
                </ng-container>

                <!-- SMS Type Column -->
                <ng-container matColumnDef="markread">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Markread </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox class="checkbox-margin">

                        </mat-checkbox>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="messageDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: messageDisplayedColumns;"></tr>

            </table>
            <mat-paginator
            [length]="messageDataSourceLength"
            #TableMessagePaginator="matPaginator"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30]"
          ></mat-paginator>
            
        </mat-tab>
       
        <mat-tab label="Voice Call">
            <table style="width: 100%;" mat-table [dataSource]="callsDataSource" matSort #TableCallsSort="matSort" class="mat-elevation-z8">

                <!-- Sent/Recieved Column -->
                <ng-container matColumnDef="createdDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element">{{element.createdDateTime | date: 'MM/dd/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="calledTo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Called To </th>
                    <td mat-cell *matCellDef="let element">{{element.calledTo}} </td>
                </ng-container>
                <ng-container matColumnDef="callLength">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
                    <td mat-cell *matCellDef="let element">{{element.callLength}} </td>
                </ng-container>
                <ng-container matColumnDef="callStartDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start At </th>
                    <td mat-cell *matCellDef="let element">{{element.callStartDateTime}} {{element.callStartDateTime  | date: 'HH:mm'}} </td>
                </ng-container>
                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element">{{element.remarks}} </td>
                </ng-container>
                

                <ng-container matColumnDef="createdByName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                    <td mat-cell *matCellDef="let element">{{element.createdByName}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="callsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: callsDisplayedColumns;"></tr>

            </table>
            <mat-paginator
            [length]="callsDataSourceLength"
            #TableCallsPaginator="matPaginator"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30]"
          ></mat-paginator>
            
        </mat-tab>
       
        <mat-tab label="Video Calls">
            <table style="width: 100%;" mat-table [dataSource]="videoDataSource" matSort #TableVideoCallsSort="matSort" class="mat-elevation-z8">

                <!-- Sent/Recieved Column -->
                <ng-container matColumnDef="createdDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element">{{element.createdDateTime | date: 'MM/dd/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="videoCallStartDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start At </th>
                    <td mat-cell *matCellDef="let element">{{element.videoCallStartDateTime  | date: 'HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="videoCallEndDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End At </th>
                    <td mat-cell *matCellDef="let element">{{element.videoCallEndDateTime  | date: 'HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="participantJoinDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Partipant Joined At </th>
                    <td mat-cell *matCellDef="let element">{{element.participantJoinDateTime  | date: 'HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="partipantLeaveDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Participant Leave At </th>
                    <td mat-cell *matCellDef="let element">{{element.partipantLeaveDateTime | date: 'HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="createdByName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                    <td mat-cell *matCellDef="let element">{{element.createdByName}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="videoDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: videoDisplayedColumns;"></tr>

            </table>
            <mat-paginator
            [length]="videoDataSourceLength"
            #TableVideoCallsPaginator="matPaginator"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30]"
          ></mat-paginator>
            
        </mat-tab>
        <mat-tab label="Forms">
                <patient-forms></patient-forms>
        </mat-tab>
       
    </mat-tab-group>


</div>