<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="card-container" style="display: grid;">

    <div style="margin-bottom: 20px;">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{data.firstName}} {{data.lastName}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div style="display: flex;">
                    <span style="font-size: 15px;">Cell Phone : <strong> {{data.cellPhone}}</strong></span>
                    <button style="margin:5px;" mat-raised-button color="primary" (click)="openMessage(data.cellPhone)">
                        <mat-icon>send</mat-icon>
                        SMS
                    </button>
                    <button style="margin:5px;" mat-raised-button color="primary"
                        (click)="openPhoneCall(data.cellPhone)">
                        <mat-icon>call</mat-icon>
                        Call
                    </button>
                    <button style="margin:5px;" mat-raised-button color="primary" (click)="openVideoCall()">
                        <mat-icon>video_call</mat-icon>
                        Video
                    </button>
                </div>

                <div style="display: flex;" *ngIf="data.homePhone">
                    Home Phone : <strong> {{data.homePhone}}</strong>
                    <button style="margin:5px;" mat-raised-button color="primary" (click)="openMessage(data.homePhone)">
                        <mat-icon>send</mat-icon>
                        SMS
                    </button>
                    <button style="margin:5px;" mat-raised-button color="primary"
                        (click)="openPhoneCall(data.homePhone)">
                        <mat-icon>call</mat-icon>
                        Call
                    </button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <mat-tab-group>
        <mat-tab label="Comms">
            <!-- <ngx-skeleton-loader *ngIf="detailDataloading"
    count="1"
    [theme]="{ 
      'border-radius': '5px',
      height: '250px',      
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader> -->
            <hr>
            <mat-table [dataSource]="detailDataSource" matSort #TableCommsSort="matSort" matSortActive="createdDateTime"
                matSortDirection="desc" matSortDisableClear>
                <!-- Sent/Recieved Column -->
                <ng-container matColumnDef="createdDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{moment( row.createdDateTime).format('MMM DD YYYY' )}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="smsType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Activity
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.smsType == "1" ? "SMS Out" : row.smsType == "2" ? "SMS In" : row.smsType ==
                        "3" ? "Voice Call" : "Video Call" }}
                    </mat-cell>
                </ng-container>
                <!-- SMS Status Column -->
                <ng-container matColumnDef="smsStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.smsStatus}}
                    </mat-cell>
                </ng-container>
                <!-- Content Column -->
                <ng-container matColumnDef="content">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Content
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="element.smsType == 1 || element.smsType == 2 ">{{element.content}} </div>
                        <div *ngIf="element.smsType == 3"> <strong> Called :</strong> {{element.calledTo}} |
                            <strong>{{element.callStartDateTime | date: 'HH:MM:ss' }}</strong> To
                            <strong>{{element.callEndDateTime | date: 'HH:MM:ss' }} </strong>
                            ({{element.callLength}})
                            <strong>Remarks :</strong>{{element.remarks}}
                        </div>
                        <div *ngIf="element.smsType == 4">
                            <!-- <strong> Call Initiated :</strong> {{element.videoCallStartDateTime | date: 'HH:MM:ss'}} | <strong>End Call At: </strong>{{element.partipantLeaveDateTime | date: 'HH:MM:ss' }} |<strong> Patient Joined : </strong>{{element.participantJoinDateTime | date:'HH:MM:ss' }}   -->
                        </div>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="createdByName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Createdby
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.createdByName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="markread">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Markread
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox class="checkbox-margin">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #TableCommsPaginator="matPaginator" [pageSizeOptions]="[ 10, 25, 100]"
                [length]="detailDataSourceLength"></mat-paginator>
        </mat-tab>
        <mat-tab label="Message">
            <hr>
            <mat-table [dataSource]="messageDataSource" matSort #TableMessageSort="matSort"
                matSortActive="createdDateTime" matSortDirection="desc" matSortDisableClear>
                <ng-container matColumnDef="createdDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{moment( row.createdDateTime).format('MMM DD YYYY' )}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="smsType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Activity
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.smsType == "1" ? "SMS Out" : row.smsType == "2" ? "SMS In" : row.smsType ==
                        "3" ? "Voice Call" : "Video Call" }}
                    </mat-cell>
                </ng-container>
                <!-- SMS Status Column -->
                <ng-container matColumnDef="smsStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.smsStatus}}
                    </mat-cell>
                </ng-container>
                <!-- Content Column -->
                <ng-container matColumnDef="content">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Content
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="element.smsType == 1 || element.smsType == 2 ">{{element.content}} </div>
                        <div *ngIf="element.smsType == 3"> <strong> Called :</strong> {{element.calledTo}} |
                            <strong>{{element.callStartDateTime | date: 'HH:MM:ss' }}</strong> To
                            <strong>{{element.callEndDateTime | date: 'HH:MM:ss' }} </strong>
                            ({{element.callLength}})
                            <strong>Remarks :</strong>{{element.remarks}}
                        </div>
                        <div *ngIf="element.smsType == 4">
                            <!-- <strong> Call Initiated :</strong> {{element.videoCallStartDateTime | date: 'HH:MM:ss'}} | <strong>End Call At: </strong>{{element.partipantLeaveDateTime | date: 'HH:MM:ss' }} |<strong> Patient Joined : </strong>{{element.participantJoinDateTime | date:'HH:MM:ss' }}   -->
                        </div>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="createdByName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Createdby
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.createdByName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="markread">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Markread
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox class="checkbox-margin">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="messageDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: messageDisplayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #TableMessagePaginator="matPaginator" [pageSizeOptions]="[ 10, 25, 100]"
                [length]="messageDataSourceLength"></mat-paginator>

        </mat-tab>

        <mat-tab label="Voice Call">
            <hr>
            <mat-table [dataSource]="callsDataSource" matSort #TableCallsSort="matSort"
                matSortActive="createdDateTime" matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="createdDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{moment( row.createdDateTime).format('MMM DD YYYY' )}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="calledTo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Called To
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                       {{row.calledTo}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="callLength">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Duration
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                       {{row.callLength}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="callStartDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Start At 
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{moment( row.callStartDateTime).format('MMM DD YYYY HH:mm:ss') }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.remarks}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdByName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Created By
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.createdByName}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="callsDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: callsDisplayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator  #TableCallsPaginator="matPaginator" [pageSizeOptions]="[ 10, 25, 100]"
                [length]="callsDataSourceLength"></mat-paginator>
        </mat-tab>

        <mat-tab label="Video Calls">
            <hr>
            <mat-table [dataSource]="videoDataSource" matSort #TableVideoCallsSort="matSort"
            matSortActive="createdDateTime" matSortDirection="desc" matSortDisableClear>


            <ng-container matColumnDef="createdDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{moment( row.createdDateTime).format('MMM DD YYYY' )}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="videoCallStartDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Start At
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{moment( row.videoCallStartDateTime).format('HH:mm:ss' )}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="videoCallEndDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>End At
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{moment( row.videoCallEndDateTime).format('HH:mm:ss' )}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="participantJoinDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Partipant Joined At
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{moment( row.participantJoinDateTime).format('HH:mm:ss' )}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="partipantLeaveDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Participant Leave At
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{moment( row.partipantLeaveDateTime).format('HH:mm:ss' )}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdByName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created By
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.createdByName}}
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="videoDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: videoDisplayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator #TableVideoCallsPaginator="matPaginator" [pageSizeOptions]="[ 10, 25, 100]"
            [length]="videoDataSourceLength"></mat-paginator>

        </mat-tab>
        <mat-tab label="Forms">
            <patient-forms></patient-forms>
        </mat-tab>

    </mat-tab-group>


</div>