<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" >close</mat-icon>
</button>
<div style="margin-bottom: 20px;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.firstName}} {{data.lastName}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="margin: 5px;">
        <p><span><strong>Cell Phone : </strong>{{data.cellPhone}}</span></p>
      </div>
      <div *ngIf="dialpadshow">
        <div>
          <button mat-fab mat-raised-button (click)="sendDigit('1')">
            1
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('2')">
            2
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('3')">
            3
          </button>
        </div>
        <div>
          <button mat-fab mat-raised-button (click)="sendDigit('4')">
            4
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('5')">
            5
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('6')">
            6
          </button>
        </div>
        <div>
          <button mat-fab mat-raised-button (click)="sendDigit('7')">
            7
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('8')">
            8
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('9')">
            9
          </button>
        </div>
        <div>
          <button mat-fab mat-raised-button (click)="sendDigit('*')">
            *
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('0')">
            0
          </button>
          <button mat-fab mat-raised-button (click)="sendDigit('#')">
            #
          </button>
        </div>
      </div>
      <div [hidden]="dialpadshow">
        <mat-label>Call Note:</mat-label>
        <textarea matInput [(ngModel)]="Notes" rows="10"></textarea>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab *ngIf="data.cellPhone && onPhone" mat-raised-button color="primary" (click)="toggleMute()">
        <mat-icon *ngIf="!muted">mic</mat-icon>
        <mat-icon *ngIf="muted">mic_off</mat-icon>
      </button>
      <button mat-fab *ngIf="onPhone" mat-raised-button 
      (click)="toggleDialPad()">
      <mat-icon>dialpad</mat-icon>
      </button>

      <button mat-fab *ngIf="data.cellPhone" mat-raised-button [ngClass]="{'danger': onPhone, 'primary': !onPhone}"
        (click)="Phonecall(data.cellPhone)">
        <mat-icon *ngIf="!onPhone">phone</mat-icon>
        <mat-icon *ngIf="onPhone">call_end</mat-icon>
      </button>
      
     
      <button [disabled]="onPhone" color="primary" mat-raised-button primary (click)="close()">
        <mat-icon>close</mat-icon>
        Save & Exit
      </button>
    </mat-card-actions>
  </mat-card>
</div>